<div class="container grid">
    <input class="form-control searchInput" type="text" ng-model="searchBar" placeholder="Search a note...">
    <div class="row">
        <div ng-repeat="note in notes.notes | filter:searchBar" class="col-md-7 ">
            <div class="note">
                <h3>{{note.title}}</h3>
                <p> {{note.text}} </p>
                <div>{{note.date | date:'MM/dd/yyyy'}} at {{note.date | date:'hh:mm a'}}</div>
            </div>
        </div>
    </div>
</div>
