body {
    background-color: #ECEFF1;
}

.searchInput {
    margin-top: 20px;
    width: 40%;
}

.note {
    color: #37474F;
    background-color: #FFC400;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10px;
}

.deleteButton {
    position: absolute;
    top: 35px;
    right: 45px;
}

.newNoteForm {
    bottom: 50%;
    margin: auto;
    margin-top: 90px;
}

.newNoteButton {
    background-color: #AFB42B;
    border: none;
    border-radius: 50%;
    box-shadow: 4px 4px 6px black;
    width: 80px;
    height: 80px;
    color: #ecf0f1;
    font-weight: bolder;
    font-size: 50px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 35px;
    right: 6%;
}

.newNoteButton:hover {
  background-color: #9E9D24;
  cursor: pointer;
}

.newNoteSaveButton, .newNoteDiscardButton {
    margin-top: 15px;
    margin-right: 5px;
}
