body {
    background-color: #353C3E;
}

.searchInput {
    margin-top: 20px;
    width: 40%;
}

.note {
    color: #EEEEEE;
    background-color: #E66A39;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    padding-top: 1%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10px;
}
