<!DOCTYPE html>
<html ng-app="notesApp">
    <head>
        <meta charset="utf-8">
        <title>Notes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>>
        <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
        <!--<script type="text/javascript" src="angular/angular.js"></script>-->
        <script type="text/javascript" src="js/app.js"></script>
    </head>

    <body ng-controller="MainController as ctrl">

        <form ng-show="openForm" class=" container newNoteForm" ng-submit="submit()">
            <input class="form-control newNoteTitle" type="text" placeholder="New note" ng-model="noteTitle"> <br>
            <textarea class="form-control newNoteText" rows="8" cols="20" placeholder="Type something!" ng-model="noteText"></textarea>
            <button type="submit" class="btn btn-default newNoteSaveButton">Save</button>
        </form>

        <div ng-show="!openForm" class="container grid" name="newNoteForm">
            <input class="form-control searchInput" type="text" ng-model="searchBar" placeholder="Search a note...">
            <div class="row">
                <div ng-repeat="note in notes | filter:searchBar" class="col-md-7 ">
                    <div class="note">
                        <h3>{{note.title}}</h3>
                        <p> {{note.text}} </p>
                        <div>{{note.date | date:'MM/dd/yyyy'}} at {{note.date | date:'hh:mm a'}}</div>
                    </div>
                </div>
            </div>
        </div>

        <button ng-show="!openForm" type="button" name="button" class="newNoteButton" ng-click="openNewNoteForm()">+</button>

</body>

</html>
